/**
 * Import all stylus files
 *
 * Declaration order:
 *   1. Positioning
 *   2. Box model
 *   3. Typographic
 *   4. Visual
 */

// framework
ks-no-conflict = true
@require 'kouto-swiss'

// grid system
@require 'jeet'

// functions, mixins and variables for vertical rhythm
@require 'vertical-rhythm'

// a nice color palette for the web
@require 'colors'

// base css (html, body, a, p, ul, table, etc)
@require 'base'
